#MapsvgDiv{
    width: 30%;
    height: 30%;
    /* background-color: lightgray; */
}

#Mapsvg > path{
    stroke: white;
    fill: #3E588B;
}
#Mapsvg > path:hover{
    outline: none;
    fill: gainsboro;
}
#busan {
    stroke: red;
    fill: blue;
}
.tm {
    cursor: pointer;
    margin: 0px 5px;
}
/* #busan{

}
#daegu{

}
#daejeon{

}
#gangwon{

}
#gwangju{

}

#gyeonggi{

}
#incheon{

}
#jeju{

}
#north-chungcheong{

}
#north-gyeongsang{

}
#north-jeolla{

}
#sejong{

}
#seoul{

}
#south-chungcheong{

}
#south-gyeongsang{

}
#south-jeolla{

}
#ulsan{

} */