.ValueInput{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

#right_input{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    align-items: center;
    width: 500px;

}

#right_input>table>tr>td:nth-child(1){
    padding-right: 20px;
}
#right_input>table{
    
}



/* 지역선택 */
#selectLocation{

}


/* 패널선택 */
#selectPanel_Box{

}

/* 면적입력 */
#inputArea_Box{

}

#inputArea{

}

/* 기간선택 */
#inputDate_Box {
    
}

/* 폼의 공통 css 부분 */
#selectLocal, #selectPanel{
    width: 100%;
}

/* 입력버튼 */
#right_inputBtn{
    width: 300px;
    height: 30px;
    border: none;
    color: white;
    border-radius: 5px;
    background-color: #0B74E2;
}

#right_inputBtn:hover{
    background-color: #0b6acf;
}