.chart-container {
  display: flex;
  flex-direction: column;
  width: 800px;
  height: 500px;
}

.chart-container * {
  cursor: default;
}

.chart {
  font-family: sans-serif;
  text-align: center;
  margin-bottom: 50px;
}

/* 차트의 세로선(x축 선) 비가시화 */
.recharts-cartesian-grid-vertical line {
  stroke: none;
}