  .chart {
    font-family: sans-serif;
    text-align: center;
    margin-bottom: 50px;
  }
    
  .chart-container {
    display: flex;
    flex-direction: column;
  }

  .chart-container * {
    cursor: default;
  }

  .flx {
    display: flex;
    width: 1400px;
  }

  .recharts-cartesian-grid-vertical line {
    stroke: none;
  }

  .recharts-cartesian-grid-vertical line:nth-child(13) {
    stroke: black;
  }