  .chart1, .chart2 {
      font-family: sans-serif;
      text-align: center;
    }

  .chart1 {
     margin-bottom: 50px;
  }
    
  .chart-container {
    display: flex;
    flex-direction: column;
  }

  .flx {
    display: flex;
    width: 1400px;
  }

  .recharts-cartesian-grid-vertical line {
    stroke: none;
  }

  .recharts-cartesian-grid-vertical line:nth-child(17) {
    stroke: black;
  }