    
    .QnA {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin-top: 40px;
    }

    .qnabox{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color:rgba(256,256,256,0.3);
        backdrop-filter: blur(20px);
        background-position: center;
        border-radius: 25px;
        width:1000px;
        margin-bottom:150px;
        margin-top:150px;
    }

    .QnAPhoto {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 600px;
    }

    .QnAPhotoBox {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .faq {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 600px;
    }

    .faqText {
        display: flex;
        flex-direction: column;
        width: 600px;
    }

    .text {
        display: flex;
        flex-direction: column;
        padding-bottom: 40px;
    }

    .questionList {
        display: flex;
        align-items: center;
    }

    .answerList {
        display: flex;
        align-items: center;
    }

    .QnAImg {
        background: url('../../public/images/QnA.png');
        background-size: cover;
        background-position: center;
        width: 240px;
        height: 490px;
    }

    .faqQ {
        font-size: 42px;
        width: 50px;
    }

    .faqQuestion {
        padding-top: 10px;
        font-size: 22px;
    }

    .faqAnswer {
        height: 40px;
        padding: 20px 0 0 20px;
        font-size: 16px;
    }
