    /* FAQ.js */
    .faq {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-bottom:60px;
    }

    .faqImg {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: rgba(26, 51, 92, 0.75);
        width: 100%;
        height: 400px;
        box-shadow: 0 0 20px rgba(0,0,0,0.144);
    }
    
    .faqTitle {
        color: white;
        text-align: center;
        overflow: hidden;
    }

    .faqTitleMain {
        font-size: 45px;
        margin-bottom: 18px;
        opacity: 0;
    }

    .faqTitleMain.active {
        animation: show_txt .4s .5s ease-in-out forwards;
    }

    .faqTitleSub {
        font-size: 20px;
        opacity: 0;
    }

    .faqTitleSub.active {
        animation: show_txt .7s .8s ease-in-out forwards;
    }

    .faqList {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 1400px;
        margin-top: 50px;
    }

    .faqText {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }

    /* FaqList.js */
    .subAnswer {
        font-size: 14px;
        color: rgba(255, 255, 255, 0.5);
        position: absolute;
        right: 10px;
        bottom: 10px;
    }

    .answerHeight {
        line-height: 26px;
    }

    .subLink {
        font-size: 14px;
        color: rgba(255, 255, 255, 0.5);
        position: absolute;
        right: 10px;
        bottom: 10px;
        text-decoration: none;
    }

    .faqText table {
        border-spacing: 40px;
    }

    .faqText td {
        border: 1px solid #EBEDEF;
        border-radius: 10px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
        position: relative;
        width: 50%;
        height: 150px;
    }

    /* FaqItem.js */
    .qna {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        position: relative;
        cursor: default;
        height: 100%;
        border-radius: 10px;
        background-color: #5568b1;
    }

    .questionList {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: white;
        z-index: 1;
        transition: all 0.7s;
        border: 1px solid #EBEDEF;
    }
    
    .qna:hover .questionList {
        transform: translateY(-100%);
    }
    
    .qna:not(:hover) .questionList {
        transform: translateY(0%);
    }

    .questionListCover {
        display: flex;
        align-items: center;
        width: 80%;
    }
    
    .qnaQ, .qnaA {
        font-size: 42px;
        width: 60px;
    }
    
    .qnaQuestion {
        padding-top: 5px;
        font-size: 22px;
        font-weight: bold;
        width: fit-content;
    }

    .answerList {
        display: flex;
        justify-content: left;
        align-items: center;
        width: 80%;
        color: white;
    }

    .qnaAnswer {
        padding-top: 5px;
        font-size: 18px;
        font-weight: bold;
        width: fit-content;
    }