
  .footer {
    background-color: #1C3879;
    color: white;
    /* text-align: center; */
    line-height: 150%;
    font-size: larger;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height:20vh;
    position: absolute;
    line-height: 200%;
    font-weight: bold;
    padding-top:2vh;
  }