 
  .headerarticle{
    height: 100px;
    
  }

  .headerarticle.active{
    height:0px;
  }

  /* 메인페이지 */

  .headermain{
    display: none;
  }

  .headermain.active{
    display: flex;
    width: 100%;
    height: 100px;
    position: fixed;
    z-index:5;
    flex-direction: row;
    justify-content: space-between;
  }

  .logo2 {
    display: none;
    width: 120px;
    height: 60px;
    padding-top: 24px;
    margin-left: 40px;
    cursor: pointer;
  }

  .logo2.active {
    display: block;
  }

  /* 햄버거 버튼 컨테이너 */
  .faBars_container {
    display: flex;
    flex-direction: column;
    align-items: end;
  }

  .faBars.active{
    display: none;
  }

  .menuicon {
    margin-right: 46px;
    margin-left: auto;
    margin-top: 18px;
    cursor: pointer;
  }

  .menuboard {
    background-color: rgb(26,51,92);
    color:white;
    width:206px;
    height:510px;
    line-height:300%;
    padding:30px;
    font-size:large;
    border-radius: 5px;
    position: absolute;
    margin-top: 70px;
    right: 0;
  }

  .btn {
    width: 220px;
    color:white;
    font-size: 1.5rem;
    background-color:rgb(26,51,92);
    margin-top: 48px;
    border:none;
    text-align: left;
    cursor: pointer;
  }

  /* 상세페이지 */
  .headerdetail{
    display: none;
  }

  .headerdetail.active{
    display: flex;
    width: 100%;
    height: 100px;
    background-color: rgba(255,255,255,0.75);
    box-shadow: 0 0 20px rgba(0,0,0,0.144);
    z-index:2;
    justify-content: space-between;
  }

  .logo1 {
    width: 100px;
    height: 50px;
    padding-top: 24px;
    margin-left: 40px;
    cursor: pointer;
    display: none;
  }

  .logo1.active {
    display: inline;
    width: 100px;
    height: 50px;
  }

  #categoryBox{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    
    justify-content: flex-end;
    margin-right: 50px;
  }

  .category {
    font-size: 1.2rem;
    color:black;
    font-weight:bold;
    margin: 26px 34px 30px 34px;
    padding: 10px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    padding: 15px 0;
    position: relative;
  }

  .category.clicked {
    color:#1C3879;
  }

  .category.clicked::after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 0;
    position: absolute;
    background: #1C3879;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 100%;
  }

  .category:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #1C3879;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }

  .category:hover:after {
    width: 100%;
    left: 0;
  }
