
  .header{
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
  }

  .menuicon {
    right: 50px;
    padding-top: 24px;
    position:absolute;
  }

  .menuboard {
    background-color: rgb(26,51,92);
    color:white;
    width:206px;
    height:510px;
    line-height:300%;
    padding:30px;
    font-size:large;
    position:fixed;
    font-weight: bold;
    margin-top: 20px;
    right: 0;
  }
  
  .btn {
    width: 220px;
    color:white;
    font-size: 1.5rem;
    background-color:rgb(26,51,92);
    margin-top: 48px;
    border:none;
    text-align: left;
    cursor: pointer;
  }
  
  .logo1 {
    width: 100px;
    height: 50px;
    padding-top: 24px;
    position:absolute;
    margin-left: 40px;
    cursor: pointer;
    display: none;
  }

  .logo2 {
    display: none;
    width: 100px;
    height: 50px;
    padding-top: 24px;
    position:absolute;
    margin-left: 40px;
    cursor: pointer;
  }

  .logo1.active {
    display: block;
  }

  .logo2.active {
    display: block;
  }

  svg {
    cursor: pointer;
  }

  .categoryBox {
    display: none;
  }

  .categoryBox.active {
    display: flex;
    justify-content: center;
  }

  .category {
    font-size: 1.2rem;
    color:white;
    font-weight:bold;
    margin: 26px 34px 30px 34px;
    padding: 10px;
    cursor: pointer;
  }

  .faBars.active {
    display: none;
  }
