
    
    .InquiryInputPages {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100dvw;
        margin-top: 100px;
        margin-bottom: 100px;
    }

    .InquiryImg{
        width: 600px;
        height: 700px;
    }

    .inquiryBox{
        height: 700px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        box-shadow: 0 0 20px lightgray;
        background-color: white;
        position: relative;
    }

    .inquiryTitle{
        color:#333;
        font-size: 45px;
        position: absolute;
        top: -50px;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        text-align: right;
    
    }
    .inquiryTitle>span{
        width: 40%;
        background: linear-gradient(to top, rgb(209, 234, 255) 40%, transparent 40%);
    }

    #inquirySection{
        display: flex;
        flex-direction: column;
       
    }

    .red_span{
        color: red;
        padding-left: 5px;
    }

    /* 입력 폼 */
    #inquiryForm{
        display: flex;
        flex-direction: column;
        height: 700px;
        align-items: center;
        justify-content: space-around;
        padding: 20px;
    }

    #inquiryForm>table{
        height: 500px;
    }

    #inquiryForm>table>tr>td{
        padding: 0;
    }

    #inquiryForm>table>tr>td:nth-child(1){
        font-weight: bold;
        font-size: 18px;
    }

    #inquiryForm>table>tr>td>select, #inquiryForm>table>tr>td>select>option {
        border: none;
        padding: 0px 5px 0 5px;
        margin: 0;
        font-size: 15px;
        border: 1px solid lightgray;
        border-radius: 5px;
    }

    #inquiryForm>table>tr>td>textarea {
        border: none;
        padding: 5px;
        border: 1px solid lightgray;
        border-radius: 5px;
        font-size: 15px;
    }

    #inquiryForm>table>tr>td>input{
        border: none;
        padding: 0px 5px 0 5px;
        margin: 0;
        text-align: center;
        font-size: 15px;
        border: 1px solid lightgray;
        border-radius: 5px;
    }

    #inquiryForm>table>tr>td>input:focus{
        outline: none;
        text-align: center;
    }

    #inquiryForm>table>tr>td>select:focus,
    #inquiryForm>table>tr>td>textarea:focus{
        outline: none;
    }

    #inquiryForm>table>tr>td>input::placeholder{
        text-align: center;
        font-style: italic;
    }
    #inputModel{
        width: 400px;
        height: 32px;
    }

    #inputName{
        width: 160px;
        height: 30px;
    }

    #emailId, #emailDomain{
        width: 160px;
        height: 30px;
    }
    #selectDomain{
        width: 150px;
        height: 30px;
        cursor: pointer;
    }

    #inputNumber1, #inputNumber2, #inputNumber3{
        width: 120px;
        height: 30px;
    }

    #inputAsk{
        width: 750px;
        height: 100%;
        resize: none;
    }

    #localAddress{
        width: 170px;
        height: 30px;
    }

    .InputCheckBox{
        font-size: 18px;
        font-weight: bold;
    }

    #inputCheck{
        padding-left: 20px;
        width: 18px;
        height: 18px;
        cursor: pointer;
    }

    #inquiry_Btn{
        width: 284px;
        height: 40px;
        border: none;
        color: white;
        border-radius: 5px;
        background-color: #0B74E2;
        font-size: 20px;
        cursor: pointer;
    }

    #inquiry_Btn:hover{
        background-color: #0b6acf;
    }
