
    .InquiryInputPages {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 40px;

    }

    .inquiryInput{
        margin: 0 auto;
    }

    .inquiryTitle{
        color:#333;
        margin-bottom:10px;
        font-size: 26px;
    }

    .red_span{
        color: red;
        padding-left: 5px;
    }

    #inquirySection{
        display: flex;
        flex-direction: column;
        box-shadow: 0 0 5px lightgray;
        
    }

    #inquiryForm{
        display: flex;
        flex-direction: column;
        height: 600px;
        background-color:rgba(256,256,256,0.3);
        backdrop-filter: blur(20px);
        border-radius:15px;
        align-items: center;
        justify-content: space-around;
        padding: 20px;
    }

    .inquiryBox {
        width: 830px;
    }

    #inquiryForm>table{
        height: 500px;
    
        /* border: solid 2px black; */
    }

    #inquiryForm>table>tr>td{
        /* 테이블 사이즈 보기 위한 border */
        /* border: solid 2px black;  */
        padding: 0;
        
    }

    #inquiryForm>table>tr>td:nth-child(1){
        font-weight: bold;
        font-size: 18px;
    }

    #inquiryForm>table>tr>td>select, #inquiryForm>table>tr>td>select>option {
        border: none;
        padding: 0px 5px 0 5px;
        margin: 0;
        font-size: 15px;
        border: 1px solid lightgray;
        border-radius: 5px;
    }

    #inquiryForm>table>tr>td>textarea {
        border: none;
        padding: 5px;
        border: 1px solid lightgray;
        border-radius: 5px;
    }

    #inquiryForm>table>tr>td>input{
        border: none;
        padding: 0px 5px 0 5px;
        margin: 0;
        text-align: center;
        font-size: 15px;
        border: 1px solid lightgray;
        border-radius: 5px;
    }

    #inquiryForm>table>tr>td>input:focus{
        outline: none;
        text-align: center;

    }

    #inquiryForm>table>tr>td>select:focus,
    #inquiryForm>table>tr>td>textarea:focus{
        outline: none;
    }

    #inquiryForm>table>tr>td>input::placeholder{
        text-align: center;
        font-style: italic;
    }
    #inputModel{
        width: 300px;
        height: 30px;
    }

    #inputName{
        width: 160px;
        height: 30px;
    }

    #emailId, #emailDomain{
        width: 160px;
        height: 30px;
    }
    #selectDomain{
        width: 150px;
        height: 30px;
    }

    #inputNumber1, #inputNumber2, #inputNumber3{
        width: 120px;
        height: 30px;
    }

    #inputAsk{
        width: 750px;
        height: 100%;
        resize: none;
    }

    #localAddress{
        width: 170px;
        height: 30px;
    }

    #inputCheck{
        padding-left: 20px;
    }

    #inquiry_Btn{
        width: 284px;
        height: 40px;
        border: none;
        color: white;
        border-radius: 5px;
        background-color: #607EAA;
        font-size: 20px;
    }

    #inquiry_Btn:hover{
        background-color: #607EAA;
    }
