
  * {
    padding: 0;
    margin: 0;
  }

  /* 메인 화면 CSS */

  .slideImg {
    opacity: 0.8;
  }

  .mainvideo, .sub2video {
    opacity: 0.8;
  }
  
  .container {
    background: black;
  }

  .pg-page {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
  }

  .scaleChage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    scale: 0.8;
  }

  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .explain {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .carousel-indicators button {
    display: none;
  }

  p {
    overflow: hidden;
  }

  .fontUp1, .fontUp2 {
    display: block;
    font-size: 44px;
    font-weight: 600;
    color: white;
    opacity: 0;
  }

  .fontUp3 {
    display: block;
    font-size: 24px;
    font-weight: 600;
    color: white;
    opacity: 0;
  }
  

  /* 메인 화면 2번째 CSS */


  a, a:active, a:hover, a:checked, a:visited { 
    color: rgb(26, 51, 92);
    font-size: 28px;
    font-weight:bold;
    border-radius: 5px;
  }

  .fontShow1 {
    background: rgb(26,51,92);
    color:white !important;
    text-decoration: none;
    /* padding: 4px 10px 4px 10px; */
    opacity: 0;
    position: relative;
    top: 30px;
  }

  /* 스크롤 하라고 하는 마우스 애니매이션 */

  .scroll-downs {
    position: absolute;
    bottom: 100px;
    margin: auto;
    width :34px;
    height: 55px;
  }

  .mousey {
    width: 3px;
    padding: 10px 15px;
    height: 35px;
    border: 3px solid #fff;
    border-radius: 25px;
    opacity: 0.75;
    box-sizing: content-box;
  }

  .scroller {
    width: 4px;
    height: 10px;
    border-radius: 25%;
    background-color: #fff;
    animation-name: scroll;
    animation-duration: 2.2s;
    animation-timing-function: cubic-bezier(.15,.41,.69,.94);
    animation-iteration-count: infinite;
  }

  @keyframes scroll {
    0% { opacity: 0; }
    10% { transform: translateY(0); opacity: 1; }
    100% { transform: translateY(15px); opacity: 0;}
  }

  /* 스크롤 시 이름이 추가되는 클래스 CSS */

  .scaleChage.load {
    scale: 1;
  }

  .scaleChage.active {
    transition: all 0.8s;
    scale: 1;
  }

  .fontUp1.active {
    animation: show_txt .4s .5s ease-in-out forwards;
  }

  .fontUp2.active {
    animation: show_txt .7s .8s ease-in-out forwards;
  }

  .fontUp3.active {
    animation: show_txt .4s .5s ease-in-out forwards;
  }

  @keyframes show_txt {
    0%{
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .fontShow1.active, .fontShow2.active, .fontShow3.active {
    animation: fadeIn 1.2s ease-in-out 1.4s forwards; 
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  /* 왼쪽의 점 요소들 (섹션 이동 기능) */

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .pg-vertical .pg-pips {
    left: 20px;
    width: 100px;
  }

  .pg-pips ul li {
    margin-bottom: 30px;
    border-radius: 30px;
    width: 30px;
    height: 30px;    
  }

  .pg-pips ul li a {
    width: 10px;
    height: 10px;
    left: 41%;
    top: 41%;
    background: rgba(255, 255, 255, 0.4);
  }

  .pg-pips ul li:hover a {
    width: 10px;
    height: 10px;
    left: 51%;
    top: 51%;
  }
  
  .pg-pips ul li:hover a.active,.pg-pips ul li a.active {
    width: 20px;
    height: 20px;
    left: 41%;
    top: 41%;
    background: white;
  }
  