
  @font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
  }
  
  * {
    padding: 0;
    margin: 0;
    font-family: 'Pretendard-Regular';
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
  }

  .pg-page {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
  }

  .scaleChage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    scale: 0.8;
  }

  .scaleChage.load {
    scale: 1;
  }

  .scaleChage.active {
    transition: all 0.8s;
    scale: 1;
  }

  /* 첫 번째 section에 있는 mainvideo와
    마지막 section에 있는 sub2video는
    동일한 CSS이기에 같이 적습니다 */

  .mainvideo, .sub2video {
    width: 100%;
    height: 100%;
    object-fit: cover;  
  }

  .mainvideo {
    opacity: 0.98;
  }
  
  .sub2video { 
    opacity: 0.9;
  }

  /* 스크롤 하라고 하는 마우스 애니매이션 */

  .scroll-downs {
    position: absolute;
    bottom: 100px;
    margin: auto;
    width :34px;
    height: 55px;
  }

  .mousey {
    width: 3px;
    padding: 10px 15px;
    height: 35px;
    border: 3px solid #fff;
    border-radius: 25px;
    opacity: 0.75;
    box-sizing: content-box;
  }

  .scroller {
    width: 4px;
    height: 10px;
    border-radius: 25%;
    background-color: #fff;
    animation-name: scroll;
    animation-duration: 2.2s;
    animation-timing-function: cubic-bezier(.15,.41,.69,.94);
    animation-iteration-count: infinite;
  }

  @keyframes scroll {
    0% { opacity: 0; }
    10% { transform: translateY(0); opacity: 1; }
    100% { transform: translateY(15px); opacity: 0;}
  }

  .containerSlider {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
  }

  .slideImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
  }

  /* 라이브러리 수정 CSS */

  .pg-vertical .pg-pips {
    left: 20px;
    width: 100px;
  }

  .pg-pips ul li {
    margin-bottom: 30px;
    border-radius: 30px;
    width: 30px;
    height: 30px;    
  }

  .pg-pips ul li a {
    width: 10px;
    height: 10px;
    left: 41%;
    top: 41%;
    background: rgba(255, 255, 255, 0.4);
  }

  .pg-pips ul li:hover a {
    width: 10px;
    height: 10px;
    left: 51%;
    top: 51%;
  }
  
  .pg-pips ul li:hover a.active,.pg-pips ul li a.active {
    width: 20px;
    height: 20px;
    left: 41%;
    top: 41%;
    background: white;
  }
  