
    #Mapsvg > path{
        stroke: white;
        /* fill: #3E588B; */
    }

    #Mapsvg > path:hover{
        outline: none;
        fill: gainsboro;
    }

    #MapsvgDiv{
        width: 350px;
        height: 700px;
    }

    
    #Mapsvg > path{
        stroke: white;
    }
    #Mapsvg > path:hover{
        outline: none;
        fill: gainsboro;
    }

    #Mapsvg > path:active{
        outline: none;
        fill: gainsboro;
    }
    
    /* #busan:active
    {


    }
    #daegu{
    
    }
    #daejeon{
    
    }
    #gangwon{

    }
    #gwangju{

    }

    #gyeonggi{

    }
    #incheon{

    }
    #jeju{

    }
    #north-chungcheong{

    }
    #north-gyeongsang{

    }
    #north-jeolla{

    }
    #sejong{

    }
    #seoul{

    }
    #south-chungcheong{

    }
    #south-gyeongsang{

    }
    #south-jeolla{

    }
    #ulsan{

    } */