
    /* MapSelect에서 MapsvgPath 함수 안의 */
    /* JSX의 클래스 이름 시작 */

    .customInput {
        background: none;
        width: 100%;
        height: 100%;
        border: none;
        font-size: 15px;
        cursor: pointer;
    }

    .MapSlc {
        width: 100%;
        height: 650px;
        margin: 35px 0px;
    }

    #koreaSvg {
        pointer-events: none;
        stroke: white;
    }

    #koreaSvg > path {
        pointer-events: all;
        cursor: pointer;
    }

    #koreaSvg > path:hover {
        outline: none;
        fill: gainsboro;
    }

    #koreaSvg > path:active {
        outline: none;
        fill: #F6CAC9;
    }

    #koreaSvg > path.clicked {
        outline: none;
        fill: #F6CAC9;
    }

    /* 여기서부터 return */

    .mapSelect {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .mapSelectIn {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
        
    .mapSelectTitle{
        color:black;
        font-size: 45px;
        margin-left: 20px;
        position: absolute;
        top: 150px;
        width: 400px;
        background: linear-gradient(to top, rgb(209, 234, 255) 40%, transparent 40%);
    }

    .dashBoard {
        margin-top: 100px;
        display: flex;
        border-radius: 15px;
        gap: 30px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.144);
        padding: 60px 30px;
    }

    .leftContainer {
        position: relative;
    }

    .calendar {
        width: max-content;
    }

    .calendar th {
        padding: 10px 20px 10px 0px;
    }

    .calendar td:nth-child(3) {
        padding: 0px 18.5px;
        font-size: 20px;
    }

    .selectKorea {
        position: absolute;
        top: 80px;
        right: 0px;
        font-size: 16px;
        font-weight: bold;
        border-radius: 8px;
        padding: 7px 14px;
        background: none;
        cursor: pointer;
    }

    .rightContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin: 15px 0px;
    }

    .rightTitle {
        font-size: 25px;
    }

    .rightTitleSub {
        font-size: 15px;
        color: gray;
    }

    /* DatePicker 라이브러리 CSS 수정 코드 */

    .MuiFormControl-root.MuiTextField-root.css-z3c6am-MuiFormControl-root-MuiTextField-root {
        width: 168px;
    }

    .MuiOutlinedInput-notchedOutline.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
        border: none;
    }

    .react-datepicker__header__dropdown.react-datepicker__header__dropdown--select div {
        margin: 0;
        
    }