.MapSlc {
    width: 100%;
    height: 650px;
    margin: 50px 0px;
    /* border: 3px solid black; */
}

#koreaSvg {
    pointer-events: none;
    stroke: white;
}

#koreaSvg > path {
    pointer-events: all;
}

#koreaSvg > path:hover {
    outline: none;
    fill: gainsboro;
}

#koreaSvg > path:active {
    outline: none;
    fill: #F6CAC9;
}

#koreaSvg > path.clicked {
    outline: none;
    fill: #F6CAC9;
}

.mapSelect {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mapSelectIn {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
    
.mapSelectTitle{
    color:white;
    margin-top:120px;
    margin-bottom:10px;
    font-size: 26px;
}

.dashBoard {
    margin-bottom: 50px;
}

.leftBox {
    display: flex;
    justify-content: center;
    background-color:rgba(256,256,256,0.3);
    backdrop-filter: blur(20px);
    border-radius: 15px;
    border:none;
}

.leftContainer {
    border-right: 2px solid #607EAA;
}

.calendar {
    width: max-content;
    border: 1px solid white;
    border-radius: 10px;
}

.calendar th {
    padding: 10px 20px;
}

/* DatePicker CSS */
.MuiFormControl-root.MuiTextField-root.css-z3c6am-MuiFormControl-root-MuiTextField-root {
    width: 168px;
}

.MuiOutlinedInput-notchedOutline.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
    border: none;
}
/* DatePicker CSS */

.rightContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 25px 0px;
}

.rightTitle {
    font-size: 25px;
}