    .leftContainer {
        border-right: 2px solid black;
    }

    .rightContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .MuiFormControl-root.MuiTextField-root.css-z3c6am-MuiFormControl-root-MuiTextField-root {
        width: 168px;
    }
    
    .MuiOutlinedInput-notchedOutline.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
        border: none;
    }

    .calendar {
        width: max-content;
        border-bottom: 2px solid black;
    }

    .calendar th {
        padding: 0px 20px;
    }
    
    .leftBox {
        display: flex;
        justify-content: center;
    }

    .mapSelect {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
    }
    #Mapsvg > path{
        stroke: white;
        /* fill: #3E588B; */
    }

    #Mapsvg > path:hover{
        outline: none;
        fill: gainsboro;
    }

    .MapSlc {
        width: 100%;
        height: 650px;
        margin: 50px 0px;
        /* border: 3px solid black; */
    }

    #MapsvgDiv{
        width: 350px;
        height: 700px;
    }

    .dashBoard {
        border: 2px solid black;
        margin: 100px auto;
    }

    #Mapsvg > path{
        stroke: white;
    }
    #Mapsvg > path:hover{
        outline: none;
        fill: gainsboro;
    }

    #Mapsvg > path:active{
        outline: none;
        fill: gainsboro;
    }
    .tm {
        cursor: pointer;
        margin: 0px 5px;
    }
    .table {
        border-collapse: collapse;
    }
    th{
        border: 2px solid #EEF3F6;
    }
    td {
        border: 2px solid #EEF3F6;
    }
    /* #busan:active
    {


    }
    #daegu{
    
    }
    #daejeon{
    
    }
    #gangwon{

    }
    #gwangju{

    }

    #gyeonggi{

    }
    #incheon{

    }
    #jeju{

    }
    #north-chungcheong{

    }
    #north-gyeongsang{

    }
    #north-jeolla{

    }
    #sejong{

    }
    #seoul{

    }
    #south-chungcheong{

    }
    #south-gyeongsang{

    }
    #south-jeolla{

    }
    #ulsan{

    } */