.productdetail{
    height:660px;
    background-color:rgba(256,256,256,0.3);
    backdrop-filter: blur(20px);
    display: flex;
    width:1200px;
    margin-bottom:60px;
}

.product {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

body{
    background-image: url('../../public/images/suncell.jpg');
    background-repeat:no-repeat;
    background-position: center;  
}

.introduceproduct{
color:white;
margin-top:120px;
font-weight:bold;
margin-bottom:10px;
display:flex;
flex-direction: column;
font-size:1.5rem;
}

.koreaproduct{
color:rgb(26,51,92);
font-weight:500;
width:500px;
height:600px;
margin-left:30px;
padding:30px;
font-size:large;
border-right:1px solid white;
}

.koreaproductname{
font-size:1.7rem;
margin-bottom:30px;
font-weight: bold;
text-align:center;
}

.usaproduct{
color:rgb(26,51,92);
font-weight: 500;
width:500px;
height:600px;
margin-left: 30px;
padding:30px;
font-size:large;
}

.koreaproductimg{
    margin-bottom:30px;
    width: 480px;
    height:200px;
    margin-top:40px;
}

.usaproductimg{
    margin-bottom:30px;
    width: 480px;
    height:200px;
    margin-top:40px;
}

.usaproductname{
    font-size:1.7rem;
    margin-bottom:30px;
    font-weight: bold;
    text-align:center;
}

.productDetail {
font-size:1.3rem;
font-weight: bold;}

.koreaproduct > p{margin-left:100px;}
.usaproduct >p{margin-left:100px;}