
  .productIntroduce {
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
  }

  .productTop {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .productPhoto {
    width: 100%;
    height: 400px;
    object-fit: cover;
    filter: brightness(90%);
  }

  .productTitle {
    text-align: center;
    position: absolute;
  }

  .productTitleType {
    overflow: hidden;
  }

  .productTitle1 {
    display: block;
    font-size: 34px;
    font-weight: 600;
    opacity: 0;
    margin-bottom: 18px;
    color: white;
  }

  .productTitle2 {
    display: block;
    font-size: 22px;
    opacity: 0;
    color: white;
  }

  .productTitle1.active {
    animation: show_txt .4s .5s ease-in-out forwards;
  }

  .productTitle2.active {
    animation: show_txt .7s .8s ease-in-out forwards;
  }

  @keyframes show_txt {
    0%{
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .productKind {
    display: flex;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
  }

  .productExplain {
    width: 379px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    margin: 0 20px 0 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  }

  .Cover1 {
    width: 380px;
    height: 570px;
    position: absolute;
    display: block;
    transition: all .7s;
    background-color: #5568b1;
  }

  .productExplain:hover .Cover1 {
    transform: translateX(-100%);
  }

  .productExplain:not(:hover) .Cover1 {
    transform: translateX(0%);
  }

  .coverBox {
    height: 420px;
  }

  .cellName {
    font-size: 24px;
    text-align: center;
    color: white;
  }

  .cellNameSmall {
    font-size: 22px;
  }

  .detailMoveAll {
    display: flex;
    align-items: center;
  }

  .detailMoveBox {
    width: 286px;
    height: 80px;
  }

  .detailMove1, .detailMove2, .detailMove3 {
    font-size: 30px;
  }

  .Cover2 {
    width: 380px;
    height: 570px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .cellNameIn {
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
  }

  .cellImgBox {
    display: flex;
    justify-content: center;
  }

  .cellImg {
    position: relative;
    width: 220px;
    height: 280px;
    margin-bottom: 24px;
  }

  .cellExplain {
    font-size: 18px;
  }

  .DetailBox {
    display: flex;
    margin-bottom: 10px;
  }

  .cellDetail {
    font-size: 18px;
    font-weight: 600;
  }

  .cellButton {
    margin-top: 8px;
    padding: 10px;
    width: 250px;
    height: 40px;
    border: none;
    color: white;
    border-radius: 5px;
    background-color:  #0B74E2;
    font-size: 16px;
    cursor: pointer;
  }

  .cellButton:hover {
    background-color: #0b6acf;
  }
