.productdetail{
    display:flex;
    height:100vh;
}

body{
    background-image: url('../../public/images/suncell.jpg');
    background-repeat:no-repeat;
    background-position: center;
    height:100vh;    
}

.introduceproduct{
color:white;
margin-top:120px;
font-weight:bold;
font-size: 1.5rem;
width:20vw;
margin-left:12vw;
margin-bottom:10px;
display:flex;
flex-direction: column;
}

.koreaproduct{
background-color: #EEF3F6;
color:rgb(26,51,92);
font-weight:500;
width:30vw;
height:75vh;
margin-left:12vw;
padding:2vw;
border-radius: 1vw;
font-size:large;
background-color:rgba(256,256,256,0.3);
backdrop-filter: blur(20px);
}

.koreaproductname{
font-size:1.7rem;
margin-bottom:2vh;
font-weight: bold;
}

.usaproduct{
background-color: #EEF3F6;
color:rgb(26,51,92);
font-weight: 500;
width:30vw;
height:75vh;
margin-left: 7vw;
padding:2vw;
border-radius: 1vw;
font-size:large;
background-color:rgba(256,256,256,0.3);
backdrop-filter: blur(20px);
}

.koreaproductimg{
    margin-bottom:10.3vh;
    width: 30vw;

}

.usaproductimg{
    margin-bottom:3vh;
    width:30vw;

}

.usaproductname{
font-size:1.7rem;
margin-bottom:2vh;
font-weight: bold;
}

.productDetail {
font-size:1.3rem;
font-weight: bold;}