
    /* BtnSlider 컴포넌트의 CSS임. */
    /* 결과적으로 Main에 적용됨 */    

    .btn-slide {
        width: 80px;
        height: 50px;
        position: absolute;
        background: none;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .btn-slide img {
        width: 80px;
        height: 24px;
        pointer-events: none;
    }

    .prev {
        top: 50%;
        left: 300px;
        transform: translateY(-60%);
    }

    .next {
        top: 50%;
        right: 300px;
        transform: translateY(-60%);
    }


    @media (max-width: 1000px) {
        .prev {
            left: 100px;
        }
        
        .next {
            right: 100px;
        }
    }