
  /* SolarInfo 컴포넌트의 CSS임. */
  /* 결과적으로 Main에 적용됨 */

  .explain {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .fontCover {
    overflow: hidden;
  }

  .fontUp1, .fontUp2 {
    display: block;
    font-size: 44px;
    font-weight: 600;
    color: white;
    opacity: 0;
  }

  .fontUp3 {
    display: block;
    font-size: 24px;
    font-weight: 600;
    color: white;
    opacity: 0;
  }

  .fontShow {
    position: relative;
    top: 30px;
    text-decoration: none;
    padding: 12px;
    color: white !important;
    border-radius: 10px;
    background-color:  #0B74E2;
    font-size: 22px;
    cursor: pointer;
    display: none;
    opacity: 0;
  }

  .fontShow, .fontShow:active, .fontShow:hover, .fontShow:checked, .fontShow:visited {
    font-weight:bold;
  }

  .fontShow:hover {
    background-color: #0b6acf;
  }

  /* 스크롤 시 클래스 이름이 추가되는 CSS */

  .fontUp1.active {
    animation: show_txt .4s .5s ease-in-out forwards;
  }

  .fontUp2.active {
    animation: show_txt .7s .8s ease-in-out forwards;
  }

  .fontUp3.active {
    animation: show_txt .4s .5s ease-in-out forwards;
  }

  @keyframes show_txt {
    0%{
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .fontShow.active {
    display:inline-block;
    animation: fadeIn 1.2s ease-in-out 1.4s forwards; 
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  