  
    .tdDate {
        background-color: rgba(26,51,92,0.2);
        width: 100px;
        padding: 7px 30px;
        text-align: center;
        font-weight: bold;
    }

    .tdData1 {
        width: 109.52px;
        padding: 7px 30px;
        text-align: center;
    }

    .tdData2 {
        width: 149.3px;
        padding: 7px 30px;
        text-align: center;
        border-right-width: 0.96px;
    }

    /* 여기서부터 return */
    .table {
        width: fit-content;
        height: fit-content;
        line-height: 1.5;
        border-collapse: collapse;
        border:1px solid white;
        margin-right: 10px;
        border: 1px solid lightgray;
    }
        
    .table th {
        text-align: center;
        background-color: rgba(26,51,92,0.4);
        padding: 7px 30px;
        font-size: 20px;
    }

.table th:nth-child(1) {
    width: 100px;
}
.table th:nth-child(3) {
    width: 170px;
}

/* 정해진 heigth에서 벗어나는 데이터는 scroll로 확인 가능 */
.scrollableBody {
    display: flex;
    height: 200px;
    overflow-y: scroll;
}

body{
    overflow-x: hidden;
    overflow-y: auto;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: #91A7D0;
    border-radius: 10px;
}
::-webkit-scrollbar-track {
    background-color: lightgrey;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
}