  
    .tdDate {
        background-color: rgba(26,51,92,0.2);
        width: 100px;
        padding: 7px 20px;
        text-align: center;
        font-weight: bold;
    }

    .tdData1 {
        width: 109.52px;
        padding: 7px 20px;
        text-align: center;
    }

    .tdData2 {
        width: 149.3px;
        padding: 7px 20px;
        text-align: center;
        border-right-width: 0.96px;
    }

    /* 여기서부터 return */
    .table {
        width: fit-content;
        height: fit-content;
        line-height: 1.5;
        border-collapse: collapse;
        border:1px solid white;
    }
        
    .table th {
        text-align: center;
        background-color: rgba(26,51,92,0.4);
        padding: 7px 20px;
        font-size: 20px;
    }

    .table th:nth-child(1) {
        width: 100px;
    }

    /* 정해진 heigth에서 벗어나는 데이터는 scroll로 확인 가능 */
    .scrollableBody {
        display: flex;
        height: 200px;
        overflow-y: scroll;
    }
    /* 스크롤바 비가시화 */
    ::-webkit-scrollbar {
        display: none;
    }
    