.ValueResultPages { 
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#ValueResultTitle{
    display: flex;
    width: 1000px;
    margin-bottom: 20px;
}

.ValueResult{
    display: flex;
    flex-direction: column;
    background-color: #EEF3F6;
    width: 1000px;
    height: 450px;
    border-radius: 25px;
    padding: 20px;
    justify-content: space-around;
}