.ValueResultPages { 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-size:cover;
    margin-top: 100px;
    margin-bottom: 100px;
}

.ValueResultPagesIn {
    position: relative;
}

#ValueResultTitle{
    color:#333;
    font-size: 40px;
    position: absolute;
    top: -50px;
    width: 1000px;
    display: flex;
    justify-content: flex-start;
    text-align: left;
    
}

#ValueResultTitle>span{
    width: 40%;
    background: linear-gradient(to top, rgb(209, 234, 255) 40%, transparent 40%);
}
.ValueResult{
    display: flex;
    flex-direction: column;
    width: 950px;
    height: 900px;
    justify-content: space-between;
    align-items: center;
    
}

.ValueChartBox{
    box-shadow: 0 0 20px lightgray;
    width: 950px;
    border-radius: 5px;
    
}



.ValueResultTable{
    width: 900px;
    font-size: 18px;
    font-weight: bold;
    /* border:solid 1px gray; */
}

.ResultCostTable{
    width: 900px;
    font-size: 18px;
    font-weight: bold;
    /* border:solid 1px gray; */
}

.ValueResultTable>tr>td,.ResultCostTable>tr>td {
    /* border: solid 1px black; */
}
.ResultCostTable>tr>td:nth-child(1){
    width: 200px;
    text-align:justify;
 }


.ResultCostTable>tr>td:nth-child(3){
   width: 180px;
   text-align:justify;
}

.ValueResultTable>tr>td:nth-child(2){
    padding-right: 10px;
}

.ResultCostTable>tr>td:nth-child(2){
    padding-right: 5px;
}

.fontLine {
    width:150px;
    /* background: linear-gradient(to top, #bfdeffe1 50%, transparent 50%); */
}

.fontColor{
    color: blue;
}

#btnClickInput{
    width: 250px;
    height: 40px;
    border: none;
    color: white;
    border-radius: 5px;
    background-color: #0B74E2;
    font-size: 20px;
    margin-top: 20px;
    cursor: pointer;
}

#btnClickInput:hover{
    background-color: #0b6acf;
}