.ValueInfo{
   /* border: 1px solid blue; */
}

.howtoInput_head{
    margin-top: 40px;
    border-radius: 15px;
    padding-bottom:10px;
}

.howtoInput_title{
    padding: 10px;
}

.howtoInput_title>div{
    font-size: 21px;
    margin-top: 20px;
    font-weight: bold;
}

.howtoInput_title>div>span{
    color: #0B74E2;
}

.howtoInput_ol {
    list-style: none;
    counter-reset: list-number;
    padding: 0;
    font-size: 20px;
}

.howtoInput_ol >li{
    border-top: solid 1px lightgray;
    padding: 20px 0px;
    counter-increment: list-number;
    display: flex;
    flex-direction: row;
    align-items:center;
    font-weight: bold;
}

.howtoInput_ol >li:before{
    content: counter(list-number);
    margin-right: 10px;
    font-weight: bold;
    font-size: 25px;
}

.howtoInput_ol>li:nth-child(2),.howtoInput_ol>li:nth-child(4){
    padding-bottom: 5px;
}

.howtoInput_ol>li:nth-child(7){
    border-bottom: solid 1px lightgray;
}

.howtoInput_text{
    padding-left: 30px;
    padding-bottom: 20px;
}

.arrayInfoFooter{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 30px;
}

#arrayTitle{
    margin-bottom: 30px;
}

#arrayTitle>h2{
    width: 220px;
    background: linear-gradient(to top, #ffe555be 50%, transparent 50%);
}

#arrayTitle>h2>span{
    color: blue;
}

#arrayTitle>div{
    font-size: 20px;
    text-align: center;
    margin: 15px 0 15px 0; 
}

#arrayInfobox{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#arrayImg{
    width: 300px;
    height: 200px;
    border-radius: 12px;
    background-image: url("../../public/images/ValueInfoImg.png") ;
    background-position: center;
    background-size: cover;
}

.arrayInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.arrayInfo>ul>li {
    padding: 5px;
}

.arrayInfo > ul{
    list-style: none;
    font-size: 18px;
}

.arrayInfo > ul>li>span{
    color: blue;
    font-weight: bold;
}

#arrayInfoBtn{
    margin-top: 10px;
    border: none;
    background-color: #EAE3D2;
    border-radius: 20px;
    padding: 5px;
    width: 100%;
    font-weight:600;
    font-size: 18px;
    cursor: pointer;
}

#arrayInfoBtn:hover{
    background-color: #e7dabc;
    font-weight:600;
}
