.ValueInputPages {
    height:200vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#ValueInputTitle{
    display: flex;
    width: 1000px;
    margin-bottom: 20px;
}

.ValueInput{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    /* 위치를 보기 위한 백그라운드 색상 */
    background-color: #EEF3F6;
    width: 1000px;
    height: 450px;
    border-radius: 25px;
    padding: 20px;
    justify-content: space-around;
}

#inputSection{
    display: flex;
    align-items: center;
}

#inputFormTable>tr>td{
    /* border: solid 1px black; */
}

#inputFormTable{
    height: 450px;
    width: 100%;
    padding: 10px;
    font-size: 18px;
}

#inputFormTable>tr>td:nth-child(1){
    padding-right: 20px;
    font-weight: bold;
  
}

#inputFormTable>tr>td>select, #inputFormTable>tr>td>select>option, #inputFormTable>tr>td>textarea{
    border: solid 1px lightgray;
    padding: 0px 5px 0 5px;
    margin: 0;
    font-size: 15px;
    height: 40px;
}

#inputFormTable>tr>td>input{
    border: solid 1px lightgray;
    padding: 0px 5px 0 5px;
    margin: 0;
    text-align: center;
    width: 150px;
    height: 30px;
    font-size: 15px;
}

.react-datepicker-ignore-onclickoutside,.react-datepicker-wrapper, 
.react-datepicker__input-container,.react-datepicker__input-container>input{
    border: solid 1px lightgray;
    width: 150px;
    height: 30px;
    text-align: center;
    font-size: 15px;
}

#inputFormTable>tr>td>select:focus, #inputFormTable>tr>td>select>option:focus, 
#inputFormTable>tr>td>textarea:focus{
    outline: none;
}

#inputFormTable>tr>td>input:focus{
    outline: none;
}

.react-datepicker-ignore-onclickoutside:focus,.react-datepicker-wrapper:focus, 
.react-datepicker__input-container:focus,.react-datepicker__input-container>input:foucs{
    outline: none;
}

/* 입력버튼 */
#right_inputBtn{
    width: 250px;
    height: 40px;
    border: none;
    color: white;
    border-radius: 5px;
    background-color: #0B74E2;
    font-size: 20px;
}

#right_inputBtn:hover{
    background-color: #0b6acf;
}

#selectLocal{
    width: 160px;
}

#selectPanel{
    width: 350px;
}

/* #selectPanel, #selectLocal, #inputArea,  */